block variables
  //- Meta Tags HTML
  - let siteName = `Numy's Homes`, pageTitle;

  //- Meta Tags SEO
  - let metaDescription;

  //- OpenGraph Protocol
  - let ogUrl, ogImage;

doctype html
html(lang="en")
  head
    //- Meta Tags
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    if pageTitle === 'Home'
      title= `${siteName} | Miami Luxury Real Estate`
    else
      title= `${pageTitle} | ${siteName}`
    meta(name="description" content=metaDescription)
    meta(name="author" content="ErwCode Technologies")
    meta(name="robots" content="index, follow")
    meta(name="theme-color" content="#010B19")
    //- Open Graph Protocol
    meta(property="og:locate" content="en")
    meta(property="og:type" content="website")
    if pageTitle === 'Home'
      meta(property="og:title" content = `${siteName} | Miami Luxury Real Estate`)
    else
      meta(property="og:title" content = `${pageTitle} | ${siteName}`)
    meta(property="og:description" content=metaDescription)
    meta(property="og:url" content=ogUrl)
    meta(property="og:site_name" content="ErwCode")
    meta(property="og:image" content=ogImage)
    meta(property="og:image:alt" content="Numy's Homes Miami Luxury Real Estate")
    //- Google Tag Manager

    //- Links
    link(rel="shortcut icon" href="./assets/images/favicon.png")
  body
    //- Google Tag Manager (noscript)


    //- Menu Section
    include includes/menu.pug

    //- Body Section
    block body

    //- Footer Section
    include includes/footer.pug
